.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5em;
  position: relative;
}
.home__title{
  padding: 1em;
}
.home__greetings {
  color: #FE1936;
}
.home__form{
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.home__input {
  padding: 1em;
  border: none;
}
.home__btn {
  border: none;
  padding: 1em;
  background-color: #D93F3F;
  color: #fff;
}
.home__footer{
  text-align: center;
  position:absolute;
  top:100vh;
    transform:translateY(-100%);
    width:100%;
}
.personal__info{
  padding: 0.3em 0;
}