.pokecontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

@media (min-width: 450px) {
  .pokecontainer {
    width: 100vw;
    display: grid;
      grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
      gap: 1em;
      align-items: center;
      padding: 1em;
  }
}